# Database Configuration
# SQLite local file path
DATABASE_URL=sqlite:///./blacko.db

# AI Configuration
GEMINI_API_KEY=AIzaSyCmPPZk6Q6_VGKbUCK8skKRCgFasnO20s4

# App Configuration
DEBUG=True
PORT=8000
